@font-face {
  font-family: 'Opel Sans Condensed Headline';
  src: url('Opel Sans Condensed Headline.eot'); /* IE9 Compat Modes */
  src: url('Opel Sans Condensed Headline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Opel Sans Condensed Headline.woff') format('woff'), /* Modern Browsers */
       url('Opel Sans Condensed Headline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Opel Sans Condensed Headline.svg#79b5340da57f94dcd917b015796e59ad') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

