.widget = render '_/widget_embed', options: { path: tablet_path, width: 768, height: 90, id: 'mokka_widget_collapsed' }
.widget = render '_/widget_embed', options: { path: tablet_path, width: 768, height: 1024, expanded: true, id: 'mokka_widget_expanded' }
