.widget = render '_/widget_embed', options: { path: phone_path, width: 320, height: 50, id: 'mokka_widget_collapsed' }
.widget = render '_/widget_embed', options: { path: phone_path, width: 320, height: 504, expanded: true, id: 'mokka_widget_expanded' }
