@import "base";

@include widget-font-face('Opel-Sans-Condensed-Carline');
@include widget-font-face('Opel-Sans-Condensed-Headline');
@include widget-font-face('OpelSansCondensed');
@include widget-font-face('OpelSansCondensed-Bd');


/* Sprites setup
---------------------------------------- */

$g-layout: smart;
$g-spacing: 10px;
$g-sprite-dimensions: true;
@import "g/*.png";
@include all-g-sprites;


/* Widget and states setup
---------------------------------------- */

/* @import "widget_base"; */

@include widget-states(
  collapsed 320px 50px,
  expanded 320px 504px
);
$default-state: collapsed;

$background-color: #fff;

@import "widget_base/styles";
@import "widget_base/elements";



/*
 * HTML tags and global classes styles
 */

body {
  font-family:$base-font-family;
  text-rendering:optimizeLegibility;
  -moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
  }

.b-open-btn {
  // @include g-sprite(button-open);
  width: 32px;
  height: 32px;
  right: 7px;
  top: 8px;
  background: inline('phone/touch_small.png') 0 0 no-repeat;
}
.b-close-btn {
  width: 58px;
  height: 56px;
  background: inline('phone/touch.png') 0 0 no-repeat;
  // @include g-sprite(button-close);
  top: 9px;
}

.icon {
  display: inline-block;
}


/* Expanded view
---------------------------------------- */

.b-view_expanded {
  .state {
    position: absolute;
    left: 0;
    top: 0;
    width: $widget-width;
    height: 504px;

  }
}


/* Semiexpanded view
---------------------------------------- */

.b-view_semiexpanded {
 }


/* Collapsed view
---------------------------------------- */

.b-view_collapsed {
  background: inline('phone/collapsed_bg.png') 0 0 no-repeat;

  .p-logo {
    position: absolute;
    width: 30px;
    height: 50px;
    //  z-index: 1000;
    left: 0px;
    bottom: 0px;
  }
}

@import "phone_styles";
