
.bg {
  position: absolute;
  width: $widget-width;
  height: 504px;
  top: 0;
  left: 0;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-logo {
  position: absolute;
  width: 44px;
  height: 44px;
  //  z-index: 1000;
  left: 14px;
  top: 13px;

  &.logo{
    background: inline('phone/logo.png') 0 0 no-repeat;
  }
}

.start-btn {
  position: absolute;
  width: 534px;
  height: 104px;
//  background: inline('phone/start_btn.png') 0 0 no-repeat;

  &:hover {
//    background: inline('phone/start_btn_hover.png') 0 0 no-repeat;
  }

  &.start2 {
    background: inline('phone/main_start_btn.png') 0 0 no-repeat;

    &:hover {
      background: inline('phone/main_start_btn_hover.png') 0 0 no-repeat;
    }
  }

//  transition: 0.2s all linear;
}

.calendar-btn {
  position: absolute;
  width: 259px;
  height: 52px;
  background: inline('phone/calendar_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('phone/calendar_btn_hover.png') 0 0 no-repeat;
  }

//  transition: 0.2s all linear;
}

.again-btn {
  position: absolute;
  width: 57px;
  height: 52px;
  background: inline('phone/again_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('phone/again_btn_hover.png') 0 0 no-repeat;
  }

//  transition: 0.2s all linear;
}

.more-btn {
  position: absolute;
  width: 171px;
  height: 35px;
  bottom: 0px;
  left: 50%;
  margin-left: -85px;
  background: inline('phone/more_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('phone/more_btn_hover.png') 0 0 no-repeat;
  }

  &.close {
    background: inline('phone/more_close_btn.png') 0 0 no-repeat;

    &:hover {
      background: inline('phone/more_close_btn_hover.png') 0 0 no-repeat;
    }
  }

//  transition: 0.2s all linear;
}

.page-title
{
  font-size: 72px;
  font-family: "Opel-Sans-Condensed-Headline";
  color: rgb( 40, 33, 14 );
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
}

.social-links {
  position: absolute;
  top: 431px;
  left: 73px;

  .vk {
    position: absolute;
    top: 0px;
    left: 63px;

    width: 51px;
    height: 48px;
    background: inline('phone/link_vk.png') 0 0 no-repeat;
    &:hover {
      background: inline('phone/link_vk_hover.png') 0 0 no-repeat;
    }

//    transition: 0.2s all linear;
  }

  .fb {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 51px;
    height: 48px;
    background: inline('phone/link_fb.png') 0 0 no-repeat;
    &:hover {
      background: inline('phone/link_fb_hover.png') 0 0 no-repeat;
    }

//    transition: 0.2s all linear;
  }

  .insta {
    position: absolute;
    top: 0;
    left: 122px;

    width: 58px;
    height: 51px;
    background: inline('phone/link_insta.png') 0 -1px no-repeat;
    &:hover {
      background: inline('phone/link_insta_hover.png') 0 -1px no-repeat;
    }

//    transition: 0.2s all linear;
  }
}

.main {
  background: inline('phone/main_bg.jpg') 0 0 no-repeat;

  .start-btn {
    top: 422px;
    left: 64px;
    width: 196px;
  }

  .orange {
    width: 530px;
    height: 100%;
    position: absolute;
    right: 70px;
    top:0px;
  }

  .title {

    font-size: 66px;
    font-family: "OpelSansCondensed";
    color: rgb( 202, 70, 34 );
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 694px;
    left: 0;
  }

  .description {
    font-size: 36px;
    font-family: "Opel-Sans-Condensed-Headline";
    color: rgb( 32, 22, 0 );
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 840px;
    left: 0;
  }

  .orange {
    position: absolute;
    width: 320px;
    height: 220px;
//    background: inline('phone/orange.png') 0 0 no-repeat;
    top: 94px;
    left: 0;
  }
}

.test {
  display: none;
  .test-bg {

    .test-bg-1 {
      background: inline('phone/test/bg_1.jpg') 0 0 no-repeat;
    }
    .test-bg-2 {
      background: inline('phone/test/bg_2.jpg') 0 0 no-repeat;
    }
    .test-bg-3 {
      background: inline('phone/test/bg_3.jpg') 0 0 no-repeat;
    }
    .test-bg-4 {
      background: inline('phone/test/bg_4.jpg') 0 0 no-repeat;
    }
    .test-bg-5 {
      background: inline('phone/test/bg_5.jpg') 0 0 no-repeat;
    }
  }

  .questions {
    display: block;
    position: relative;
    top: 80px;
    left: 0;
//    height: 100px;

    .question {
      display: block;
      vertical-align: middle;
      width: 300px;
      padding: 0px 10px 0 10px;
      font-size: 18px;
      font-family: Opel-Sans-Condensed-Headline;
      color: #28210e;
      text-align: center;
//      line-height: 32px;


    }
  }

  $answer-height: 51px;
  $answer-radius: 5px;

  .answers {
    position: relative;
    top: 100px;
    left: 0;
    width: $widget-width;
    height: $answer-height;

    .a-test {
      top: 0;
      left: 0;
      width: 320px;
      margin: 0 auto;
      height: $answer-height;

      .answer {
        height: $answer-height;
        display: block;
//        border-collapse: separate;
//        border-spacing: 10px;
      }
    }

    .option {
      display: block;
      width: 320px;
      text-align: center;
      height: $answer-height;
      text-decoration: none;
      vertical-align: middle;
      font-size: 20px;
      font-family: Opel-Sans-Condensed-Headline;
      color:  #28210e;
      line-height: $answer-height;

      &:hover {
        background: #ffca1a;
//        border-radius: $answer-radius;
      }

//      transition: 0.2s all linear;
    }
  }

  .test-nav {
    position: absolute;

    width: $widget-width;
    height: 31px;
    bottom: 0;
    left: 0;

    &.test-nav-1 {
      background: inline('phone/test/nav-bg_1.png') 0 0 no-repeat;
    }

    &.test-nav-2 {
      background: inline('phone/test/nav-bg_2.png') 0 0 no-repeat;
    }

    &.test-nav-3 {
      background: inline('phone/test/nav-bg_3.png') 0 0 no-repeat;
    }

    &.test-nav-4 {
      background: inline('phone/test/nav-bg_4.png') 0 0 no-repeat;
    }

    &.test-nav-5 {
      background: inline('phone/test/nav-bg_5.png') 0 0 no-repeat;
    }

    transition: 0.5s all linear;
  }
}

.map {
  display: none;

  #map {
    width: 100%;
    height: 264px;
    margin-top: 241px;
  }

  .map-title {
    position: absolute;
    left: 0;
    top: 0;
    width: $widget-width;
    height: 241px;
    background: inline('phone/map_title_bg.png') 0 0 no-repeat;

    .title {
      position: absolute;
      text-align: center;
      font-family: Opel-Sans-Condensed-Headline;
      color: #28210e;
      font-size: 36px;
      width: $widget-width;
      top: 80px;
      line-height: 36px;
    }

  }

  .calendar-btn {
    bottom: 0;
    left: 63px;
  }

  .again-btn {
    bottom: 0;
    left: 0px;
  }

  .more {
    background: inline('phone/more_bg.png') 0 0 no-repeat;

    .title {
      position: absolute;
      text-align: center;
      font-family: Opel-Sans-Condensed-Headline;
      color: #28210e;
      font-size: 36px;
      width: $widget-width;
      top: 80px;
      line-height: 36px;
    }

    .content {
      position: absolute;
      font-size: 17px;
      font-family: "Opel-Sans-Condensed-Headline";
      color: rgb( 0, 0, 0 );
      left: 21px;
      top: 220px;
      width: 277px;
      height: 260px;

    }

    .more-btn {
      display: none;
    }
  }
}

.calendar {
  display: none;
  background: inline('phone/bg_1.png') 0 0 no-repeat;

  .content{
    background: inline('phone/calendar_content.png') 0 0 no-repeat;
  }

  .date{

    position: absolute;
    width: 140px;
    height: 140px;
    text-decoration: none;

    .num {

      pointer-events: none;
      font-family: "OpelSansCondensed";
      color:  #28210e;
      font-size: 43px; /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 36px; /* Approximation due to font substitution */
      width: 140px;
      height: 35px;
      text-decoration: none;
      text-align: center;
      position: absolute;
      top: 27px;
    }

    .mon {
      pointer-events: none;
      font-family: "OpelSansCondensed";
      color: #28210e;
      font-size: 22px;
      font-weight: 700;
      line-height: 36px;
      width: 140px;;
      height: 26px;
      text-decoration: none;
      text-align: center;
      position: absolute;
      top: 57px;

    }

    background: inline('phone/date.png') 0 0 no-repeat;
    &:hover {
      background: inline('phone/date_hover.png') 0 0 no-repeat;

      .num {
        color: #FFFFFF;
      }

      .mon {
        color: #FFFFFF;
      }
    }

//    transition: 0.2s all linear;
  }

  .date_1 {
    left: 15px;
    top: 173px;
  }

  .date_2 {
    left: 166px;
    top: 173px;
  }

  .date_3 {
    left: 15px;
    top: 325px;
  }

  .date_4 {
    left: 166px;
    top: 325px;
  }
}

.about {
  display: none;
  background: inline('phone/bg_1.png') 0 0 no-repeat;

  .content{
    background: inline('phone/about_content.png') 0 0 no-repeat;

  }

//  .start-btn {
//    bottom: 0px;
//    left: 50%;
//    margin-left: -112px;
//  }
}

.rules {
  display: none;
  background: inline('phone/bg_1.png') 0 0 no-repeat;

  .start-btn {
    position: absolute;
    top: 421px;
    left: 26px;
    width: 267px;
    height: 52px;
    background: inline('phone/back_btn.png') 0 0 no-repeat;
    margin-left: 0;

    &:hover {
      background: inline('phone/back_btn_hover.png') 0 0 no-repeat;
    }

//    transition: 0.2s all linear;
  }

  .content{
    background: inline('phone/rules_content.png') center 0 no-repeat;

    .img {

      width: $widget-width;
      position: absolute;
      left: 0;
      top: 185px;

      .r {
        position: absolute;
        left: 0;
        top: 0;
        height: 150px;
        width: $widget-width;
        opacity: 0;
        transition: 0.2s opacity linear;
      }

      .r_1 {
        background: inline('phone/rule_1.png') center 0 no-repeat;
      }

      .r_2 {

        background: inline('phone/rule_2.png') center 0 no-repeat;
      }

      .r_3 {

        background: inline('phone/rule_3.png') center 0 no-repeat;
      }

      .r_4 {

        background: inline('phone/rule_4.png') center 0 no-repeat;
      }

      .r_5 {

        background: inline('phone/rule_5.png') center 0 no-repeat;
      }

      .active {
        opacity: 1;
      }


    }
  }

  .nav {
    position: absolute;
    width: $widget-width;
    height: 28px;
    top: 360px;
    left: 0;
    padding: 0 65px;

    .item {
      display: inline-block;
      width: 29px;
      height: 28px;
      background: inline('phone/circle.png') 0 0 no-repeat;
      padding: 0 5px;
      &:hover {
        background: inline('phone/circle_hover.png') 0 0 no-repeat;
      }

      &.active {
        background: inline('phone/circle_hover.png') 0 0 no-repeat;
      }

      transition: 0.2s background linear;
    }
  }
}

.underlayer {
  .menu-icon {
    width: 33px;
    height: 26px;
    position: absolute;
    top: 16px;
    left: 145px;
    background: inline('phone/menu_btn.png') 0 0 no-repeat;
    &:hover {
      width: 33px;
      height: 26px;
      background: inline('phone/menu_btn_hover.png') 0 0 no-repeat;
    }

//    transition: 0.2s all linear;
  }
}




  .menu {

    background: inline('phone/menu_bg.jpg') 0 0px no-repeat;
    position: absolute;
    top: -504px;
    left: 0px;
    transition: top 0.3s linear;
//    display: none;

    &.show {
      top: 0px;
//      display: block;
    }

    .list {
      position: absolute;
      left: 42px;
      top: 47px;

      .l-item {
        display: block;
//        margin-bottom: 4px;
      }

      .menu-start {
        width: 240px;
        height: 40px;
        background: inline('phone/menu_text.png') 0 0px no-repeat;

        &:hover {
          background: inline('phone/menu_text_hover.png') 0 0px no-repeat;
        }
      }

      .menu-rules {
        width: 240px;
        height: 53px;
        background: inline('phone/menu_text.png') 0 -40px no-repeat;

        &:hover {
          background: inline('phone/menu_text_hover.png') 0 -40px no-repeat;
        }
      }

      .menu-calendar {
        width: 240px;
        height: 53px;
        background: inline('phone/menu_text.png') 0 -93px no-repeat;

        &:hover {
          background: inline('phone/menu_text_hover.png') 0 -93px no-repeat;
        }
      }

      .menu-about {
        width: 240px;
        height: 53px;
        background: inline('phone/menu_text.png') 0 -146px no-repeat;

        &:hover {
          background: inline('phone/menu_text_hover.png') 0 -146px no-repeat;
        }
      }

      .menu-drive {
        width: 240px;
        height: 40px;
        background: inline('phone/menu_text.png') 0 -199px no-repeat;

        &:hover {
          background: inline('phone/menu_text_hover.png') 0 -199px no-repeat;
        }
      }

    }

    .share {

      .vk {
        position: absolute;
        top: 324px;
        left: 169px;

        width: 49px;
        height: 49px;
        background: inline('phone/vk.png') 0 0 no-repeat;
        &:hover {
          background: inline('phone/vk_hover.png') 0 0 no-repeat;
        }

//        transition: 0.2s all linear;
      }

      .fb {
        position: absolute;
        top: 324px;
        left: 107px;

        width: 49px;
        height: 49px;
        background: inline('phone/fb.png') 0 0 no-repeat;
        &:hover {
          background: inline('phone/fb_hover.png') 0 0 no-repeat;
        }

//        transition: 0.2s all linear;
      }

      .insta {
        position: absolute;
        top: 36px;
        left: 101px;

        width: 20px;
        height: 20px;
//        background: inline('phone/insta.png') 0 0 no-repeat;
        &:hover {
//          background: inline('phone/insta_hover.png') 0 0 no-repeat;
        }

//        transition: 0.2s all linear;
      }
    }
//
    .close-menu {
      position: absolute;
      width: 45px;
      height: 45px;
      top: 420px;
      left: 139px;
      background: inline('phone/menu_close.png') 0 0 no-repeat;

      &:hover {
        background: inline('phone/menu_close_hover.png') 0 0 no-repeat;
      }

//      transition: 0.2s all linear;
    }
  }

