.start-btn {
  position: absolute;
  width: 225px;
  height: 44px;
  background: inline('inline/start_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('inline/start_btn_hover.png') 0 0 no-repeat;
  }
}

.main {
   background: inline('inline/main_bg.png') 0 0 no-repeat;

  .start-btn {
    top: 175px;
    left: 39px;
  }
}

.test {
  display: none;

  .test_1 {
    background: inline('inline/test-bg_1.png') 0 0 no-repeat;
  }
  .test_2 {
    background: inline('inline/test-bg_2.png') 0 0 no-repeat;
  }

  .test-nav {
    position: absolute;

    width: $widget-width;
    height: 50px;
    bottom: 0;
    left: 0;

    .test-nav_1 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }

    .test-nav_2 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }

    .test-nav_3 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }

    .test-nav_4 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }

    .test-nav_5 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }
  }
}

.map {
  display: none;
  .map_1 {
//    background: inline('inline/map_1_bg.png') 0 0 no-repeat;
  }
}

.calendar {
  display: none;
  background: inline('inline/calendar_bg.png') 0 0 no-repeat;

  .date{

    position: absolute;
    width: 164px;
    height: 164px;

    background: inline('inline/date_bg.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/date_bg_hover.png') 0 0 no-repeat;
    }
  }

  .date_1 {
    left: 118px;
    top: 61px;
  }

  .date_2 {
    left: 312px;
    top: 61px;
  }

  .date_3 {
    left: 510px;
    top: 61px;
  }

  .date_4 {
    left: 702px;
    top: 61px;
  }
}

.about {
  display: none;
  background: inline('inline/about_bg.png') 0 0 no-repeat;

  .start-btn {
    bottom: 0px;
    left: 50%;
    margin-left: -112px;
  }
}

.rules {
  display: none;
  background: inline('inline/rules_bg.png') 0 0 no-repeat;

  .start-btn {
    bottom: 0px;
    left: 50%;
    margin-left: -112px;
  }
}

.underlayer {

  .menu-icon {
    width: 19px;
    height: 16px;
    position: absolute;
    top: 45px;
    left: 941px;
    background: inline('inline/menu_icon.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/menu_icon_hover.png') 0 0 no-repeat;
    }

  }

  .menu {

    background: inline('inline/menu_bg.png') 0 -4px no-repeat;
    width: 211px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 990px;
    transition: left 0.3s linear;

    &.show {
      left: 779px;
    }

    .list {
      ul {
        padding: 60px 0 0 32px;
        margin: 0;
      }

      li {

        padding: 0 0 0 6px;

        a {
          font-family: OpelSansCondensedHeadline;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          line-height: 32px;
          text-decoration: none;
          width: 135px;

          &:hover {
            font-family: OpelSansCondensedHeadline;
            color: #28210e;
            text-decoration: none;
            background: #F2F0EA;
          }
        }


      }


    }

    .share {

      .vk {
        position: absolute;
        top: 40px;
        left: 62px;

        width: 24px;
        height: 13px;
        background: inline('inline/vk.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/vk_hover.png') 0 0 no-repeat;
        }
      }

      .fb {
        position: absolute;
        top: 36px;
        left: 38px;

        width: 10px;
        height: 20px;
        background: inline('inline/fb.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/fb_hover.png') 0 0 no-repeat;
        }
      }

      .insta {
        position: absolute;
        top: 36px;
        left: 101px;

        width: 20px;
        height: 20px;
        background: inline('inline/insta.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/insta_hover.png') 0 0 no-repeat;
        }
      }
    }

    .close-menu {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 220px;
      left: 183px;
      background: inline('inline/menu_close.png') 0 0 no-repeat;

      &:hover {
        background: inline('inline/menu_close_hover.png') 0 0 no-repeat;
      }
    }
  }
}
