
.bg {
  position: absolute;
  width: $widget-width;
  height: 250px;
  top: 0;
  left: 0;
}

.start-btn {
  position: absolute;
  width: 225px;
  height: 44px;
  background: inline('inline/start_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('inline/start_btn_hover.png') 0 0 no-repeat;
  }
}

.calendar-btn {
  position: absolute;
  width: 250px;
  height: 44px;
  background: inline('inline/calendar_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('inline/calendar_btn_hover.png') 0 0 no-repeat;
  }
}

.again-btn {
  position: absolute;
  width: 250px;
  height: 44px;
  background: inline('inline/again_btn.png') 0 0 no-repeat;

  &:hover {
    background: inline('inline/again_btn_hover.png') 0 0 no-repeat;
  }
}

.social-links {
  position: absolute;
  top: 187px;
  left: 37px;

  .vk {
    position: absolute;
    top: 0px;
    left: 46px;

    width: 40px;
    height: 36px;
    background: inline('inline/link_vk.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/link_vk_hover.png') 0 0 no-repeat;
    }
  }

  .fb {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 36px;
    height: 36px;
    background: inline('inline/link_fb.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/link_fb_hover.png') 0 0 no-repeat;
    }
  }

  .insta {
    position: absolute;
    top: 0;
    left: 94px;

    width: 36px;
    height: 36px;
    background: inline('inline/link_insta.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/link_insta_hover.png') 0 0 no-repeat;
    }
  }
}

.main {
   background: inline('inline/main_bg.png') 0 0 no-repeat;

  .start-btn {
    top: 175px;
    left: 39px;
  }
}

.test {
  display: none;
  .test-bg {

    .test-bg-1 {
      background: inline('inline/test/bg_1.jpg') 0 0 no-repeat;
    }
    .test-bg-2 {
      background: inline('inline/test/bg_2.jpg') 0 0 no-repeat;
    }
    .test-bg-3 {
      background: inline('inline/test/bg_3.jpg') 0 0 no-repeat;
    }
    .test-bg-4 {
      background: inline('inline/test/bg_4.jpg') 0 0 no-repeat;
    }
    .test-bg-5 {
      background: inline('inline/test/bg_5.jpg') 0 0 no-repeat;
    }
  }

  .questions {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;

    .question {
      display: table-cell;
      vertical-align: middle;
      width: 880px;
      padding: 10px 55px;
      font-size: 32px;
      font-family: Opel-Sans-Condensed-Headline;
      color: #28210e;
      text-align: center;
      line-height: 32px;
    }
  }

  $answer-height: 85px;
  $answer-radius: 5px;

  .answers {
    position: absolute;
    top: 100px;
    left: 0;
    width: $widget-width;
    height: $answer-height;

    .a-test {
      top: 0;
      left: 0;
      width: 850px;
      margin: 0 auto;
      height: $answer-height;

      .answer {
        height: $answer-height;
        display: table;
        border-collapse: separate;
        border-spacing: 10px;
      }
    }

    .option {
      display: table-cell;
      width: 170px;
      text-align: center;
      height: $answer-height;
      text-decoration: none;
      vertical-align: middle;
      font-size: 18px;
      font-family: Opel-Sans-Condensed-Headline;
      color:  #28210e;

      &:hover {
        background: #ffca1a;
        border-radius: $answer-radius;
      }
    }

  }

  .test-nav {
    position: absolute;

    width: $widget-width;
    height: 31px;
    bottom: 0;
    left: 0;

    &.test-nav-1 {
      background: inline('inline/test/nav-bg_1.png') 0 0 no-repeat;
    }

    &.test-nav-2 {
      background: inline('inline/test/nav-bg_2.png') 0 0 no-repeat;
    }

    &.test-nav-3 {
      background: inline('inline/test/nav-bg_3.png') 0 0 no-repeat;
    }

    &.test-nav-4 {
      background: inline('inline/test/nav-bg_4.png') 0 0 no-repeat;
    }

    &.test-nav-5 {
      background: inline('inline/test/nav-bg_5.png') 0 0 no-repeat;
    }
  }
}

.map {
  display: none;

  #map {
    width: 100%;
    height: 100%;
  }

  .map-title {
    position: absolute;
    left: 0;
    top: 0;
    width: $widget-width;
    height: 57px;
    background: inline('inline/map_title_bg.png') 0 0 no-repeat;
    text-align: center;
    line-height: 57px;
    font-size: 28px;
    font-family: Opel-Sans-Condensed-Carline;
    color: #28210e;
  }

  .calendar-btn {
    bottom: 0;
    left: 239px;
  }

  .again-btn {
    bottom: 0;
    left: 502px;
  }
}

.calendar {
  display: none;
  background: inline('inline/calendar_bg.png') 0 0 no-repeat;

  .date{

    position: absolute;
    width: 164px;
    height: 164px;
    text-decoration: none;

    .num {

      pointer-events: none;
      font-family: "OpelSansCondensed";
      color:  #28210e;
      font-size: 50px; /* Approximation due to font substitution */
      font-weight: 700;
      line-height: 36px; /* Approximation due to font substitution */
      width: 164px;
      height: 35px;
      text-decoration: none;
      text-align: center;
      position: absolute;
      top: 37px;
    }

    .mon {
      pointer-events: none;
      font-family: "OpelSansCondensed";
      color: #28210e;
      font-size: 26px;
      font-weight: 700;
      line-height: 36px;
      width: 164px;;
      height: 26px;
      text-decoration: none;
      text-align: center;
      position: absolute;
      top: 70px;
    }

    background: inline('inline/date_bg.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/date_bg_hover.png') 0 0 no-repeat;

      .num {
        color: #FFFFFF;
      }

      .mon {
        color: #FFFFFF;
      }
    }
  }

  .date_1 {
    left: 118px;
    top: 61px;
  }

  .date_2 {
    left: 312px;
    top: 61px;
  }

  .date_3 {
    left: 510px;
    top: 61px;
  }

  .date_4 {
    left: 702px;
    top: 61px;
  }
}

.about {
  display: none;
  background: inline('inline/about_bg.png') 0 0 no-repeat;

  .start-btn {
    bottom: 0px;
    left: 50%;
    margin-left: -112px;
  }
}

.rules {
  display: none;
  background: inline('inline/rules_bg.png') 0 0 no-repeat;

  .start-btn {
    bottom: 0px;
    left: 50%;
    margin-left: -112px;
  }
}

.underlayer {

  .menu-icon {
    width: 19px;
    height: 16px;
    position: absolute;
    top: 45px;
    left: 941px;
    background: inline('inline/menu_icon.png') 0 0 no-repeat;
    &:hover {
      background: inline('inline/menu_icon_hover.png') 0 0 no-repeat;
    }

  }

  .menu {

    background: inline('inline/menu_bg.png') 0 -4px no-repeat;
    width: 211px;
    height: 250px;
    position: absolute;
    top: 0px;
    left: $widget-width;
    transition: left 0.3s linear;

    &.show {
      left: 779px;
    }

    .list {
      position: absolute;
      left: 32px;
      top: 77px;

      .l-item {
        display: block;
        margin-bottom: 4px;
      }

      .menu-calendar {
        width: 134px;
        height: 21px;
        background: inline('inline/menu_text.png') 0 -25px no-repeat;

        &:hover {
          background: inline('inline/menu_text_hover.png') 0 -25px no-repeat;
        }
      }

      .menu-about {
        width: 134px;
        height: 21px;
        background: inline('inline/menu_text.png') 0 -50px no-repeat;

        &:hover {
          background: inline('inline/menu_text_hover.png') 0 -50px no-repeat;
        }
      }

      .menu-rules {
        width: 134px;
        height: 21px;
        background: inline('inline/menu_text.png') 0 -75px no-repeat;

        &:hover {
          background: inline('inline/menu_text_hover.png') 0 -75px no-repeat;
        }
      }

      .menu-drive {
        width: 134px;
        height: 40px;
        background: inline('inline/menu_text.png') 0 -100px no-repeat;

        &:hover {
          background: inline('inline/menu_text_hover.png') 0 -100px no-repeat;
        }
      }


    }

    .share {

      .vk {
        position: absolute;
        top: 40px;
        left: 62px;

        width: 24px;
        height: 13px;
        background: inline('inline/vk.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/vk_hover.png') 0 0 no-repeat;
        }
      }

      .fb {
        position: absolute;
        top: 36px;
        left: 38px;

        width: 10px;
        height: 20px;
        background: inline('inline/fb.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/fb_hover.png') 0 0 no-repeat;
        }
      }

      .insta {
        position: absolute;
        top: 36px;
        left: 101px;

        width: 20px;
        height: 20px;
        background: inline('inline/insta.png') 0 0 no-repeat;
        &:hover {
          background: inline('inline/insta_hover.png') 0 0 no-repeat;
        }
      }
    }

    .close-menu {
      position: absolute;
      width: 14px;
      height: 14px;
      top: 220px;
      left: 183px;
      background: inline('inline/menu_close.png') 0 0 no-repeat;

      &:hover {
        background: inline('inline/menu_close_hover.png') 0 0 no-repeat;
      }
    }
  }
}
